<div class="room">
                    <div class="room-header">
                        <span>@praveen</span>
                        <span>1 hour, 9 minutes ago</span>
                    </div>
                    <div class="room-content">
                        Vue JS Developers Assemble!
                    </div>
                    <div class="room-footer">
                        <span>5 Joined</span>
                        <button class="ellipse-button">Vue JS</button>
                    </div>
</div>