<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Navbar</title>
    <link rel="stylesheet" href="navy.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="">StudyBuddy</a>
        </div>
        <div class="search-bar">
            <form method="get">
                <input type="text" placeholder="Search for posts" name="coco">
            </form>
        </div>
        <div class="profile">
            <img src="" alt="Profile Picture" class="profile-pic">
        </div>
    </nav>
</body>
</html>
